<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fi.ruisrock.android" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".RuisrockMainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<!--android:screenOrientation="portrait"-->
		<activity android:name=".ArtistListActivity" android:label="@string/activity.label.Artists" />
		<activity android:name=".ArtistInfoActivity" android:label="@string/activity.label.ArtistInfo" />
		<activity android:name=".NewsListActivity" android:label="@string/activity.label.News" />
		<activity android:name=".DebugActivity" android:label="@string/activity.label.Debug" />
		<activity android:name=".ScheduleTabActivity" android:label="@string/activity.label.Schedule" />
		<activity android:name=".ScheduleDayActivity" android:label="@string/activity.label.Schedule" />
		<activity android:name=".TestActivity" android:label="Test" />
		<!-- Services -->
		<service android:enabled="true" android:name=".service.RuisrockService" />
	</application>
</manifest>
